* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// .footer{
//     margin-top: 100px;
// }
#footer {
    font-family: 'Cabin', sans-serif;
}
a {
    text-decoration: none;
}

.slider-footer {
    background: url("../../assets/img/footer_bg.jpg") no-repeat #111316;
    background-size: cover;
    padding-top: 197px;
    padding-bottom: 136px;
    color: #fff;
    overflow: hidden;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
}

.p-m {
    padding: 0 15px 0 15px ;
    margin-left: auto;
    margin-right: auto;
}

.first-card {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    .email {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 38px;
        color: #f44029;
        margin-top: 46px;
        a {
            color: #f44029;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
        i {
            font-size: 30px;   
        }
    }
}

.second-card {
    margin-left: 8.33%;
    ul {
        margin-top: 8px;
        li.active, li:hover{
            color: #f44029;
        }
        li {
            font-size: 24px;
            line-height: 24px;
            & + li {
                margin-top: 18px;
            }
            
            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

.third-card {
    display: flex;
    flex-direction:column;
    p {
        margin-top: 55px;
        text-align: center;
        font-size: 17px;
        line-height: 20px;
        font-style: normal;
        .line {
            height: 31px;
            width: 1px;
            background: rgba(255, 255, 255, 0.54);
            display: inline-block;
            margin: 0 9px;
            position: relative;
            top: 10px;
        }
        a {
            font: inherit;
            color: inherit;
            &:hover {
                color: #f44029;
                text-decoration: none;
            }
        }
    }
}

.list-icon {
    margin-top: 7px;
    display: flex;
    li {
        list-style: none;
        margin: 0 4px;
        a {
            display: inline-block; 
            border-radius: 50%;   
            color: #fff;  
            width: 76px;
            height: 76px;  
            border-radius: 50%;
            border: 1px solid #ffffff; 
            text-align: center;
            i {
                font-size: 24px;
                line-height: 76px;
            }
        }
        a:hover {
            animation-name: anm;
            animation-duration: 0.6s;
            animation-fill-mode: both;
            background-color: #fff;
            color:#f44029;            
        }
    }
}

.map-footer {
    position: relative;
    iframe {
        width: 100%;
        height: 240px;
    }
    .overlay {
        background-color: rgba(67, 74, 84, 0.55);
        width: 100%;
        height: 247px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
    }
}


@keyframes anm {
    0%   {transform: scale(1); opacity: 0;}
    30%  {transform: scale(1.04)}
    60% {transform: scale(1.07)}
    100% {transform: scale(1.1); opacity: 1;}
  }

@media (min-width: 740px) and (max-width: 1023px) {
    .container-footer {
        flex-direction: column;
    }
    .list-icon {
        li {
            margin: 0 5px;
        }
    }
    .second-card {
        margin: auto;
    }
    .p-m {
        margin-top: 30px;
    }
}

@media (max-width: 739px) {
    .container-footer {
        flex-direction: column;
    }
    .list-icon {
        li {
            margin: 0 5px;
            a {
                width: 46px;
                height: 46px;
                i {
                    line-height: 46px;
                }
            }
        }
    }
    .second-card {
        margin: auto;
    }
    .p-m {
        margin-top: 30px;
    }
}